@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Container to control the overflow and animation */
.scrolling-text-container {
  width: 100%; /* Adjust to your needs */
  overflow: hidden; /* Hide the overflowing content */
  position: relative;
}

/* The element inside the container that will scroll */
.scrolling-text {
  display: inline-block;
  white-space: nowrap; /* Prevent wrapping of text */
  animation: scroll-left 20s linear infinite; /* Animation definition */
}

/* Keyframes for the scroll animation */
@keyframes scroll-left {
  0% {
    transform: translateX(100%); /* Start offscreen on the right */
  }
  100% {
    transform: translateX(-100%); /* End offscreen on the left */
  }
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-nunito: var(--font-nunito-sans);
  --font-poppins: var(--font-poppins);
  --font-ubuntu: var(--font-ubuntu);
  --font-nws: var(--font-paywrite-au);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}
